@import '../node_modules/bootstrap/scss/bootstrap.scss';



//fonts-size

$font-size-h1_h2: 55px;
$font-size-h3: 26px;
$font-size-nav: 20px;
$font-size-main: 18.5px;
$font-size-schame: 16px;
$font-bottom: 14px;

//fonts-weight

$font-weight-logo: 900;
$font-weight-h1_h2: 700;
$font-weight-h3: 600;
$font-weight-nav: 500;
$font-weight-main: 400;



//colors

$main-color: #000000;
$nav-color: #333333;
$element-color: #FFFFFF;
$email-color: #FAC730;
$bottom-color: #777777;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

body {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: unset;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Manrope';
    font-size: calc(14px + 4.5 * (100vw / 1280));
    color: $main-color;
    font-weight: $font-weight-main;
     
    
    .navbar {
        backdrop-filter: blur(10px);

    
       
        .nav-pills {
            --bs-nav-pills-link-active-bg: none;
        }
       
        .nav-link {
            font-size: $font-size-nav;
            font-weight: $font-weight-nav;
            color: $nav-color;
            margin-bottom: 0px;
            line-height: 1.5;
        }

        .nav-link.active::after, 
        .nav-link:hover:after {
            width: 100%;
        } 

        .nav-link:after {
            background-color: rgb(0, 47, 255);
            display: block;
            content: "";
            height: 2px;
            width: 0%;
            -webkit-transition: width .3s ease-in-out;
            -moz--transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
        }

        
    }

    .offcanvas-body {
        ul .nav-link-sidebar {
            text-decoration: none;
            font-size: $font-size-nav;
            font-weight: $font-weight-nav;
            

        }
    }
        

    h1,
    h2 {
        font-size: calc(16px + 32 * (100vw / 1280));
        font-weight: $font-weight-h1_h2;
        color: $main-color;
    }

    

    h3 {
        font-size: calc(16px + 8 * (100vw / 1280));
        font-weight: $font-weight-h3;
    }

    p {
        line-height: normal;
        word-spacing: 4px;

    }

    main {
        position: relative;
        
// animation baner 
        .gradient {
            background: 
            linear-gradient(29deg, rgba(37, 90, 246, 0.272233893557423) 46%, rgba(234, 246, 37, 0.272233893557423) 48%, rgba(214, 225, 246, 0.272233893557423) 49%, rgba(113, 162, 252, 0.272233893557423) 51%, rgba(62, 127, 244, 0.5887605042016807) 53%, rgba(246, 246, 214, 0.633578431372549) 55%, rgba(244, 242, 92, 0.633578431372549) 57%, rgba(45, 135, 251, 0.6896008403361344) 60%, rgba(239, 238, 93, 0.4318977591036415) 62%);
            background-size: 400% 400%;
            animation: gradient 25s linear infinite;
            height: 100vh;
            height: auto;
        }
        
               
        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            25% {
                background-position: 80% 100%;
            }
        
            50% {
                background-position: 100% 50%;
            }
        
            100% {
                background-position: 0% 50%;
            }
        }



/*
        .main_baner {
          
           
            @keyframes move {
                    100% {
                        transform: translate3d(0, 0, 1px) rotate(360deg);
                    }
                }
                div .circle {
                    width: 20vmin;
                    height: 20vmin;
                    border-radius: 20vmin;
                    backface-visibility: hidden;
                    position: absolute;
                    animation: move;
                    animation-duration: 45;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }


                div .circle:nth-child(0) {
                    color: #f7ad2b;
                    top: 98%;
                    left: 98%;
                    animation-duration: 23s;
                    animation-delay: -12s;
                    transform-origin: 20vw 25vh;
                    box-shadow: 40vmin 0 5.3118982714067675vmin currentColor;
                }

                div .circle:nth-child(1) {
                    color: #2e3bea;
                    top: 58%;
                    left: 35%;
                    animation-duration: 51s;
                    animation-delay: -2s;
                    transform-origin: -9vw 14vh;
                    box-shadow: -40vmin 0 5.409551023382982vmin currentColor;
                }

                div .circle:nth-child(2) {
                    color: #2e3bea;
                    top: 20%;
                    left: 91%;
                    animation-duration: 36s;
                    animation-delay: -39s;
                    transform-origin: 11vw 19vh;
                    box-shadow: -40vmin 0 5.41885125692505vmin currentColor;
                }

                div .circle:nth-child(3) {
                    color: #e5d1d1;
                    top: 11%;
                    left: 80%;
                    animation-duration: 26s;
                    animation-delay: -1s;
                    transform-origin: -17vw 23vh;
                    box-shadow: -40vmin 0 5.458591299109493vmin currentColor;
                }

                div .circle:nth-child(4) {
                    color: #2e3bea;
                    top: 31%;
                    left: 38%;
                    animation-duration: 52s;
                    animation-delay: -38s;
                    transform-origin: 5vw -21vh;
                    box-shadow: -40vmin 0 5.205043518247718vmin currentColor;
                }

                div .circle:nth-child(5) {
                    color: #2e3bea;
                    top: 95%;
                    left: 88%;
                    animation-duration: 28s;
                    animation-delay: -41s;
                    transform-origin: -8vw 19vh;
                    box-shadow: 40vmin 0 5.565734160937317vmin currentColor;
                }

                div .circle:nth-child(6) {
                    color: #e5d1d1;
                    top: 59%;
                    left: 52%;
                    animation-duration: 38s;
                    animation-delay: -13s;
                    transform-origin: 21vw 11vh;
                    box-shadow: -40vmin 0 5.579721303948546vmin currentColor;
                }

                div .circle:nth-child(7) {
                    color: #e5d1d1;
                    top: 33%;
                    left: 27%;
                    animation-duration: 35s;
                    animation-delay: -11s;
                    transform-origin: -4vw 2vh;
                    box-shadow: 40vmin 0 5.274568993924023vmin currentColor;
                }

                div .circle:nth-child(8) {
                    color: #2e3bea;
                    top: 21%;
                    left: 97%;
                    animation-duration: 54s;
                    animation-delay: -18s;
                    transform-origin: 20vw 21vh;
                    box-shadow: -40vmin 0 5.42364947676591vmin currentColor;
                }

                div .circle:nth-child(9) {
                    color: #f7ad2b;
                    top: 16%;
                    left: 40%;
                    animation-duration: 9s;
                    animation-delay: -29s;
                    transform-origin: -21vw -17vh;
                    box-shadow: -40vmin 0 5.552878227951888vmin currentColor;
                }

                div .circle:nth-child(10) {
                    color: #2e3bea;
                    top: 14%;
                    left: 66%;
                    animation-duration: 51s;
                    animation-delay: -36s;
                    transform-origin: -22vw -22vh;
                    box-shadow: -40vmin 0 5.154633182314736vmin currentColor;
                }

                div .circle:nth-child(11) {
                    color: #f7ad2b;
                    top: 80%;
                    left: 23%;
                    animation-duration: 38s;
                    animation-delay: -17s;
                    transform-origin: 25vw -15vh;
                    box-shadow: -40vmin 0 5.1673424116185895vmin currentColor;
                }

                div .circle:nth-child(12) {
                    color: #e5d1d1;
                    top: 9%;
                    left: 72%;
                    animation-duration: 33s;
                    animation-delay: -31s;
                    transform-origin: 21vw -23vh;
                    box-shadow: -40vmin 0 5.757239953088428vmin currentColor;
                }

                div .circle:nth-child(13) {
                    color: #2e3bea;
                    top: 44%;
                    left: 49%;
                    animation-duration: 27s;
                    animation-delay: -16s;
                    transform-origin: 2vw -7vh;
                    box-shadow: -40vmin 0 5.330658619709398vmin currentColor;
                }

                div .circle:nth-child(14) {
                    color: #e5d1d1;
                    top: 84%;
                    left: 48%;
                    animation-duration: 6s;
                    animation-delay: -6s;
                    transform-origin: 15vw -4vh;
                    box-shadow: -40vmin 0 5.363751530373634vmin currentColor;
                }

                div .circle:nth-child(15) {
                    color: #e5d1d1;
                    top: 88%;
                    left: 73%;
                    animation-duration: 51s;
                    animation-delay: -34s;
                    transform-origin: -9vw -24vh;
                    box-shadow: -40vmin 0 5.392236016194864vmin currentColor;
                }

                div .circle:nth-child(16) {
                    color: #2e3bea;
                    top: 5%;
                    left: 81%;
                    animation-duration: 14s;
                    animation-delay: -48s;
                    transform-origin: -18vw 0vh;
                    box-shadow: -40vmin 0 5.838323418338509vmin currentColor;
                }

                div .circle:nth-child(17) {
                    color: #e5d1d1;
                    top: 12%;
                    left: 28%;
                    animation-duration: 53s;
                    animation-delay: -38s;
                    transform-origin: 5vw 11vh;
                    box-shadow: -40vmin 0 5.951687320973556vmin currentColor;
                }

                div .circle:nth-child(18) {
                    color: #e5d1d1;
                    top: 42%;
                    left: 97%;
                    animation-duration: 54s;
                    animation-delay: -21s;
                    transform-origin: -4vw -19vh;
                    box-shadow: -40vmin 0 5.374814410660978vmin currentColor;
                }

                div .circle:nth-child(19) {
                    color: #e5d1d1;
                    top: 80%;
                    left: 87%;
                    animation-duration: 6s;
                    animation-delay: -23s;
                    transform-origin: -10vw -7vh;
                    box-shadow: 40vmin 0 5.544915984453121vmin currentColor;
                }

            }


*/

        .main_baner_underline {
            font-size: calc(18px + 32 * (100vw / 1280));
            display: flex;
            margin-top: 0px;
            margin-left: 40%;
        }
    //animation underline
        svg {
            g {
                .active {
                stroke-dasharray: 420;
                stroke-dashoffset: 420;
                animation: draw 4s forwards;
            }
        }
            path {
                .active {
                fill-opacity: 0;
                animation: fill-in 4s forwards;
            }
        }

            @keyframes draw {
                to {
                    stroke-dashoffset: 0;
                }
            }

            @keyframes fill-in {
                to {
                    fill-opacity: 1;
                }
                
            }
       
    }

        .solutions_underline {
            display: flex;
            
        }

        

       .solution_items {
            color: $element-color;

                .solution_item_content {
                    font-size: calc(12px + 5 * (100vw / 1280));
                    line-height: normal;
                }
        }

        .first {
            background-color: #3587F2;
        }

        .second {
            background-color: #04BFBF;
        }

        .third {
            background-color: #F2B90F;
        }

        .fourth {
            height: 180px;
            background-color: #0ABF16;
        }
        .solution_bottom_underline {
            display: flex;
               
        }
        
        .technologies_underline {
            display: flex;
            
        }

        .technologies_item {
            border-radius: 20px;
            border: none;
            font-size: calc(16px + 8 * (100vw / 1280));
            color: $element-color;
            font-weight: $font-weight-h3;
            transform: translateY(400%);
            transition: transform 0.9s ease;

            
        }
        .technologies_item.active {
            transform: translateY(0);
        }
        .technologies_schema_img {
            transform: translateY(400%);
            transition: transform 0.9s ease;
               
        }
        .technologies_schema_img.active {
            transform: translateY(0);
        }

        ul {
            list-style: none;
        }

              
        ul > li:before {
            content: '\2714';
            top: 0;
            left: 0;
            color: #3587F2;
            margin-right: 10px;
        }
        
        .card {
            background: #3587F2;
        }

        .payment {
            background: #F2B90F;
        }

        .mobile {
            background: #04BFBF;
        }

        .api {
            background: #0ABF16;
        }

        .services_schame_item {
            color: $element-color;
            border-radius: 20px;
            font-size: calc(14px + 4 * (100vw / 1280));

        }

        .banks {
            background: #3587F2;

        }

        .merchants {
            background: #04BFBF;
        }

        .business {
            background: #F2B90F;
        }
}
    footer {
        background: $main-color;

        .footer_main {
            color: $element-color;

            h2 {
                color: $element-color;
            }
        }

        .footer_main_underline {
            display: flex;
            margin-left: 18%
        }

//animation underline
         svg {
            g {
                .active {
                stroke-dasharray: 420;
                stroke-dashoffset: 420;
                animation: draw 4s forwards;
            }
        }
            path {
                .active {
                fill-opacity: 0;
                animation: fill-in 4s forwards;
            }
        }

            @keyframes draw {
                to {
                    stroke-dashoffset: 0;
                }
            }

            @keyframes fill-in {
                to {
                    fill-opacity: 1;
                }
                
            }
       
    }
        
}
   
    .form-control {
        background: #333333;
        border: none;
        color: #FFFFFF;
    }
    .form-control:focus {
        color: #FFFFFF;
        background-color: #333333;
        border-color: #F2B90F;
        outline: 0;
        box-shadow: 0 0 0 0.15rem #F2B90F;
    }
    .form-control:hover{
        color: #FFFFFF;
        background-color: #333333;
        border-color: #F2B90F;
        outline: 0;
        box-shadow: 0 0 0 0.15rem #F2B90F;
    }


    .btn {
        background: #333333;
        color: $element-color;
        font-weight: $font-weight-h3;
        font-size: calc(8px + 4 * (100vw / 1280));;
    }

    .btn:focus{
        background:#F2B90F;
        box-shadow: 0 0 0 0.15rem #F2B90F;
    }

    .btn:hover{
        background: #F2B90F;
        box-shadow: 0 0 0 0.15rem #F2B90F;
    }

    .link {
        text-decoration: none;
    }    
    
    .footer_bottom {
        background: #2e2e2e;

        .footer_bottom_AMO {
            font-size: calc(8px + 4 * (100vw / 1280));
            font-weight: $font-weight-main;
            color: $bottom-color;
        }
    }

    .svg {
        color: $bottom-color;
    }

}

